.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-justify {
  display: flex;
  justify-content: center;
}

.flex-center-align {
  display: flex;
  align-items: center;
}

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-align.horizontal-align {
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}
