.enquire-button, .color-button {
    background: #5B845C !important;
    border-color: rgba(233, 212, 151, 0.8) !important;
}

.caterer-template-default .entry-header a,
a {
    color: #398a3b;
}

.six-elements_kmp {
    width: 13%;
}

.seven-elements_kmp {
    width: 11%;
}

.more-info-overlay {
    z-index: 1000000;
}

.six-elements_kmp.fifth-margined:nth-of-type(5n+1),
.seven-elements_kmp.fifth-margined:nth-of-type(5n+1)  {
    margin-left: 30px;
    clear: none;
}

.address-details,
.smallFont {
    font-size: 16px;
}

.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 145px;
    z-index: 9999;
    font-size: 90px !important;
    color: rgba(255, 90, 95, 1) !important;
}

.owl-nav .owl-prev {
    display: none;
}
body:not(.home) .over-slider-box {
    /*background-color: rgba(245, 225, 180, 0.45) !important;*/
    background: rgba(233, 212, 151, 0.8);
    border-radius: 10px;
}

body:not(.home) .over-slider-box p {
    color: #000000;
}

.footer-info {
    background: #e6ddc5;
    padding: 15px 0;
}
footer .row-padding-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-info,
.footer-info, .footer-info a {
    color: #000;
}
/*.full-slider .alignleft,*/
.call-to-action .on-page-form{
    background: rgba(233, 212, 151, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.blog-truncate {
    width: 175px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.submenu-frame-tent-collection .wrapper ,
.submenu-pole-tents .wrapper ,
.submenu-pearl-tents .wrapper ,
.submenu-glamping .wrapper
{
    text-align: center;
    font-size: 15px;
}
.contact-block {
    text-align: center;
    display: flex !important;
    width: 100% !important;
    min-height: 264px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px 5px;
    border: 1px solid #c9c9c9;
    width: 30% !important;
    flex-direction: column;
    transition: all 0.6s;

    background-image: url(../images/squares1.png);

}

.owl-carousel.main-slider {
    width: 65%;
    float: right;
}

.left-header-side {
    width: 100%;
    max-width: 33.33%;
    height: 100%;
    border-radius: 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(250,250,250,1);
    background-image: url(../images/squares1.png);
}

.left-header-side .clickable {
    max-width: 200px;
    border-color: #000;
    color: #000;
}

.header-inner {
    height: auto;
    min-height: 600px;
    width: 100%;
    max-width: 65%;
    margin-left: auto;
    margin-top: 233px;
}

.left-header-side-homepage{
    position: absolute;
    left: -65%;
    width: 100%;
    max-width: 65%;
    height: 600px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 160px;
    padding-right: 30px;
    text-align: left;
    background-color: rgba(250,250,250,1);
    background-image: url(../images/squares1.png);
}

.eighter-margined {
    width: 10%;
}

.eighter-margined:nth-of-type(8n+1) {
    margin-left: 0;
    clear: left;
}

.main-content, .how-it-works, .social, section, .row-padding {
    padding-top: 40px;
    padding-bottom: 35px;
}

.header-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.home .black-button {
    margin-top: 0;
}

.gallery .image-link {
    vertical-align: middle;
}

.category-blog .excerpt-title {
    font-family: inherit;
}

@media (max-width: 1300px) {
    .left-header-side {
        max-width: 50%;
    }

    .left-header-side .clickable {
        /*max-width: 200px;*/
        width: 100%;
    }

    .header-inner {
        max-width: none;
    }

    .entry-content .row-padding:last-of-type {
        padding: 0;
    }

    .left-header-side-homepage {
        position: relative;
        left: 0;
        width: 100%;
        max-width: none;
        padding-left: 70px;
        height: auto;
        background-color: rgba(250,250,250,0.8);
        background-image: none;
    }


}

@media (max-width: 1200px) {

    .home .black-button {
        margin-top: 1rem;
        padding: 10px;
    }

    .home .black-button img {
        width: 200px;
    }

    .home-slider:after {
        padding-bottom: 48%;
    }
}

@media (max-width: 815px) {
    .left-header-side {
        max-width:100%;
        min-height: 300px;
    }


    .header-inner {
        max-width: none;
        width: 100%;
    }

    .entry-header .height-filler {
        display: block;
    }

    .owl-carousel.main-slider {
        width: 100%;
        float: none;
    }

    header.full-slider {
        min-height: 320px;
        position: relative;
        height: 100%;
    }

    div.vertical-align {
        float: left;
        width: 100%;
        position: relative;
        left: 0;
        z-index: 1;
        transform: none;
    }

    .mobile-menu.active {
        z-index: 99999999999;
    }

    .home .black-button img {
        width: 150px;
    }

    .home .over-slider-box h1 {
        line-height: 1.3;
    }

    .home-slider:after {
        padding-bottom: 56.2%;
    }

    .home-top-content .width-contain {
        display: block;
        max-width: 100%;
    }

    .home-top-content .width-contain-800 {
        max-width: 100%;
    }

    .width-contain {
        width: 100%;
    }
}

@media (max-width: 660px) {

    .home .black-button {
        padding: 6px;
    }

    .home .black-button img {
        width: 120px;
    }
}

@media (max-width: 380px) {
    .home .over-slider-box h1 {
        padding: 1rem;
        line-height: 1.2;
    }
    .home .black-button img {
        width: 80px;
    }
}

@media (min-width: 816px) {
    .entry-header, .archive-header {
        max-height: 100%;
        min-height: 600px;
    }

    .entry-header > .full {
        width: auto;
        right: 50px;
        left: 0;
    }
}

body:not(.home) .over-slider-box h1 {
    font-size: 4.5rem;
    padding-bottom: 45px;
}

.main-header .main-navigation .primary-menu > .menu-item a {
    color: #000;
}

.site-header {
    background-color: #fff !important;
    z-index: 30;
}


.contact-block a {
    font-size: 1.4rem;
    width: 100%;
}

.contact-block .more-info {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-block:first-child {
    margin-left: 10px;
}
.image-link:before {
    background: transparent;
}

.submenu-suppliers {
    background-image: url('../images/flowers_about.jpg');
}
.submenu-location{
    background-image: url('../images/rye_about.jpg');
}
.submenu-where-we-work{
    background-image: url('../images/www_about.jpg');
}
.submenu-team{
    background-image: url('../images/team_about.jpg');
}
.submenu-wedding-decor{
    background-image: url('../images/Wedding-Decorr.jpg');
}
.submenu-marquee-decoration{
    background-image: url('/wp-content/uploads/2016/01/Saffron-linings-4.jpg');
}
.submenu-barn-dressing{
    background-image: url('/wp-content/uploads/2016/01/barn.jpg');
}
.submenu-christmas{
    background-image: url('../images/Nordic.jpg');
}
.submenu-outdoor-furniture {
    background-image: url('../images/outdoor-furniture.jpg');
}
.submenu-download-price {
    background-image: url('../images/download-price.jpg');
}
.submenu-indoor-furniture {
    background-image: url('../images/indoor-furniture.jpg');
}
.submenu-stretch-tents {
    background-image: url('../images/stretch_tents_optimised.jpg');
}
.submenu-clearspan-marquees {
    background-image: url('../images/clearspan_marquees.jpg');
}

@font-face {
    font-family: 'Nella Sue';
    src: url('../fonts/NellaSue/NellaSue.eot');
    src: local('Nella Sue'), local('NellaSue'),
    url('../fonts/NellaSue/NellaSue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NellaSue/NellaSue.woff2') format('woff2'),
    url('../fonts/NellaSue/NellaSue.woff') format('woff'),
    url('../fonts/NellaSue/NellaSue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Light/Calibri-Light.eot');
    src: local('Calibri Light'), local('Calibri-Light'),
    url('../fonts/Calibri-Light/Calibri-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Light/Calibri-Light.woff2') format('woff2'),
    url('../fonts/Calibri-Light/Calibri-Light.woff') format('woff'),
    url('../fonts/Calibri-Light/Calibri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h1, h2 {
    font-family: 'Nella Sue';
    font-weight: 400;
    line-height: 1.4;
}

.suggested {
    min-height: initial;
}

.obf-cv {
    height: 200px;
    object-fit: cover;
}

.fl-l {
    float: left;
}

.pb-90 {
    padding-bottom: 90px;
}

.tag .image-link {
    display: block;
}
.logged-in.admin-bar .more-info-overlay {
    transform: none;
    top: 0;
    left: 0;
}
/*#submit_results,*/
#submit_results_clone {
    position: relative;
}
/*#submit_results::after,*/
#submit_results_clone::after {
    content: '';
    position: absolute;
    display: block;
    top: 8px;
    left: 10px;
    height: 25px;
    padding: 2px;
    overflow: hidden;
    border-radius: 100%;
    width: 25px;
    opacity: 0;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    background: white url('../images/loading_img.gif') no-repeat center center;
    background-size: 80% auto;
}
/*#submit_results.btn--loading::after,*/
#submit_results_clone.btn--loading::after {
    content: '';
    opacity: 1;
    position: absolute;
    display: block;
    top: 8px;
    left: 10px;
    height: 25px;
    padding: 2px;
    overflow: hidden;
    border-radius: 100%;
    width: 25px;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    background: white url('../images/loading_img.gif') no-repeat center center;
    background-size: 80% auto;
}
/*#submit_results,*/
#submit_results_clone {
    -webkit-transition: padding ease-in-out .3s;
    -moz-transition: padding ease-in-out .3s;
    -ms-transition: padding ease-in-out .3s;
    -o-transition: padding ease-in-out .3s;
    transition: padding ease-in-out .3s;
}
/*#submit_results.btn--loading,*/
#submit_results_clone.btn--loading {
    padding-left: 50px;
    padding-right: 12px;
}

@media only screen and (max-width: 991px) {
    /*#submit_results.btn--loading::after,*/
    #submit_results_clone.btn--loading::after {
        content: '';
        opacity: 1;
        position: absolute;
        display: block;
        top: calc( 50% - 12px);
        left: 10px;
        height: 20px;
        width: 20px;
        padding: 2px;
        overflow: hidden;
        border-radius: 100%;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
        background: white url('../images/loading_img.gif') no-repeat center center;
        background-size: 80% auto;
    }
}