/* stylelint-disable rule-empty-line-before */
/* stylelint-disable selector-type-no-unknown */

:root {
  --grid {
    /* align-items: center; */
    display: grid;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-2 {
  @apply --grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  @apply --grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  @apply --grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  @apply --grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  @apply --grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
  @apply --grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
  @apply --grid;
  grid-template-columns: repeat(8, 1fr);
}

.gap-1 {
  grid-gap: 1rem;
}

.gap-2 {
  grid-gap: 2rem;
}

.gap-3 {
  grid-gap: 3rem;
}

.gap-4 {
  grid-gap: 4rem;
}

.gap-5 {
  grid-gap: 5rem;
}

.gap-6 {
  grid-gap: 6rem;
}

.gap-7 {
  grid-gap: 7rem;
}

.gap-8 {
  grid-gap: 8rem;
}

@media (--tabletMedium) {
  .grid-1-t {
    @apply --grid;
    grid-template-columns: 1fr;
  }

  .grid-2-t {
    @apply --grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-t {
    @apply --grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-t {
    @apply --grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-5-t {
    @apply --grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-6-t {
    @apply --grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .gap-1-t {
    grid-gap: 1rem;
  }

  .gap-2-t {
    grid-gap: 2rem;
  }

  .gap-3-t {
    grid-gap: 3rem;
  }

  .gap-4-t {
    grid-gap: 4rem;
  }

  .gap-5-t {
    grid-gap: 5rem;
  }

  .gap-6-t {
    grid-gap: 6rem;
  }

  .gap-7-t {
    grid-gap: 7rem;
  }

  .gap-8-t {
    grid-gap: 8rem;
  }
}


@media (--mobileLarge) {
  .grid-1-m {
    @apply --grid;
    grid-template-columns: 1fr;
  }

  .grid-2-m {
    @apply --grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-m {
    @apply --grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-m {
    @apply --grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .gap-1-m {
    grid-gap: 1rem;
  }

  .gap-2-m {
    grid-gap: 2rem;
  }

  .gap-3-m {
    grid-gap: 3rem;
  }

  .gap-4-m {
    grid-gap: 4rem;
  }

  .gap-5-m {
    grid-gap: 5rem;
  }

  .gap-6-m {
    grid-gap: 6rem;
  }

  .gap-7-m {
    grid-gap: 7rem;
  }

  .gap-8-m {
    grid-gap: 8rem;
  }
}

.sectioned {
  margin-bottom: 8rem;

  @media(--mobileLarge) {
    margin-bottom: 6rem;
  }
}

/* SLOWLY DEPRECATE THE BELOW */

[class*="width-contain"] {
  width: 1280px;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

.width-contain-1400 {
  display: block;
  width: 1400px;
}

.width-contain-1000 {
  display: block;
  width: 1000px;
}

.width-contain-960 {
  display: block;
  width: 960px;
}

.width-contain-800 {
  display: block;
  width: 800px;
}

.width-contain-750 {
  display: block;
  width: 750px;
}

.width-contain-700 {
  display: block;
  width: 700px;
}

.width-contain-600 {
  display: block;
  width: 600px;
}

.width-contain-320 {
  display: block;
  width: 320px;
}

.wrapper {
  position: relative;
}