@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Vidaloka:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Tangerine:wght@400;700&display=swap');
@import url(../fonts/arabian-icons2/style.css);

@font-face {
  font-family: 'Nella Sue';
  src: url('../fonts/NellaSue/NellaSue.eot');
  src: url('../fonts/NellaSue/NellaSue.woff2') format('woff2'),
    url('../fonts/NellaSue/NellaSue.woff') format('woff'),
    url('../fonts/NellaSue/NellaSue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri-Light';
  src: url('../fonts/Calibri-Light/Calibri-Light.eot');
  src: local('Calibri Light'), local('Calibri-Light'),
    url('../fonts/Calibri-Light/Calibri-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Light/Calibri-Light.woff2') format('woff2'),
    url('../fonts/Calibri-Light/Calibri-Light.woff') format('woff'),
    url('../fonts/Calibri-Light/Calibri-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


:root {
  --fontPrimary: 'Playfair Display', serif;
  --fontPrimary: 'Playfair Display', serif;
  --fontHeaders: "Italianno";
  --fontHeaders: "Nella Sue";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem 0;
  font-family: var(--fontHeaders);
  font-weight: 500;

  &.secondary {
    font-family: var(--fontPrimary);
    font-style: italic;
  }
}


body,
button {
  /* stylelint-disable-next-line property-disallowed-list */
  line-height: 1.5;
  font-family: var(--fontPrimary);
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 2rem 0;
}

.small-h3 {
  font-size: 1.4rem;
}