.container {
  --size: 4rem;
  display: inline-flex;
}

.button {
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid darkgrey;
}

.input {
  width: var(--size);
  height: var(--size);
  text-align: center;
  border: 0;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}
