.grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 2rem;
  margin-bottom: 12rem;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.topBar {
  position: sticky;
  background-color: white;
  z-index: 1;
}

.stack {
  display: flex;
  gap: 1rem;
}

.topBarInner {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}