.grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 2rem;
}

.topBar {
  position: sticky;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}

.stack {
  display: flex;
  gap: 1rem;
}