.contact-form {
  background-color: #f3f3f3;
  padding: 8rem 0;

  .contact-form__title {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: left;
  }

  .grid {
    display: grid;
    grid-gap: 4rem;

    @media(--aboveDesktopSmall) {
      grid-template-columns: 460px 1fr;
      grid-gap: 6rem;
    }
  }

  input[type="submit"] {
    border: 0;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  input[type="number"],
  input[type="date"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    font-family: inherit;
    text-align: inherit;
    padding: 1rem;
    font-size: inherit;
    width: 100%;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  .heading-label {
    display: block;
    margin-bottom: 1rem;
    font-family: var(--fontPrimary);
    font-style: italic;
  }

  .input-field {
    margin-bottom: 2rem;
  }
}
