.gallery {
  --spacing: 2rem;
  column-count: 2;

  @media(--aboveTabletLarge) {
    column-count: 3;
    column-gap: var(--spacing);
  }

  a {
    display: block;
    margin-bottom: var(--spacing);
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: #eee;
    overflow: hidden;

    img {
      transition: 0.3s;
    }

    &:hover {

      img {
        transform: scale(1.05);
      }
    }
  }
}
