
.site-header__menu-button {
  line-height: 1;
  background-color: transparent;
  margin: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  padding: 1rem;
}

.site-header__menu {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  .site-header__menu-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
  }

  .site-header__menu-nav {
    background-color: #f9f9f9;
    height: 100%;
    max-width: 90vw;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;

    nav {
      background-color: white;
      padding: 2rem;

      a:hover {
        color: var(--goldMedium);
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
      
        & > li > ul {
          display: none;
        }
      }
    }
  }

  .site-header__menu-supporting {
    padding: 2rem;
  }
}

@media (--mobileLarge) {

  .site-header__menu-text {
    display: none;
  }
}