.more-info-overlay {
  display: block;
  min-height: 61.1rem;
  max-height: 100%;
  border: 0.5rem groove rgba(229, 213, 177, 1);
  background-color: rgba(241, 236, 224, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
  color: rgba(0,0,0,1);
  transform: translate(-50%, -50%);
  overflow: auto;
}
