.tooltip {
  position: relative;

  button span {
    font-size: 0;
  }

  .information {
    display: none;
    position: absolute;
    background: white;
    padding: 1rem;
    border: 1px solid black;
    right: 60px;
    width: 300px;
    transform: translateX(50%);
  }
}
