.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.container {
  position: relative;
}

.image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.enquirePrice {
  font-style: italic;
}

.price {
  font-weight: bold;
}

.photoSelector {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
}

.photoButton {
  width: 1.6rem;
  height: 1.6rem;
  color: white;
  border: 1px solid currentColor;
  border-radius: 50%;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.active {
  &:after {
    background-color: currentColor;
  }
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

.backdrop {
  width: 100%;
  height: 100%;
}

.dialog {
  border: 0;
}

.button {
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  position: absolute;
  transition: 0.3s;

  &:hover {
    background: white;
    color: black;
  }
}

.close {
  top: -15px;
  right: -15px;
}

.enlarge {
  top: 15px;
  right: 15px;
}