.button {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.sidebarContent {
  margin: 2rem 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.closeFilters {
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
}