.button {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;

  @media (max-width: 992px) {
    width: 40vw;
  }
}

.sidebarContent {
  margin: 2rem 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.closeFilters {
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
}

.clear {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.tabletTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}